django==1.8.3
django-celery
django_crontab
#mysql-python
xlwt
xlrd
simplejson
pillow
oss2
django-annoying
#M2Crypto
bs4
dicttoxml
pycurl
aliyun-python-sdk-core
aliyun-python-sdk-vod
python_levenshtein
django-redis==4.8.0
pdfkit